.root {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 3.15rem;
    width: 100%;
}

.tab {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.tab > svg {
    fill: #fff;
    opacity: 0.5;
}

.tab.active > svg,
.tab:hover > svg {
    opacity: 1;
}

.tab.active:after {
    content: '';
    background-color: #fff;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* #27B27A */
/* #1da1f2 */