.root {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3.2rem;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    transition: height .3s;
}

.root_expanded {
    height: calc(100% - 3.2rem);
}

.pickedDates {
    flex: 0 0 3.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    background: linear-gradient(60deg, #24c6dc, #514a9d);
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    color: #fff;
    cursor: pointer;
}

.callendarIcon {
    margin-right: 1rem;
}