$react-dates-color-primary: #514a9d !default;
$react-dates-color-secondary: #24c6dc !default;
$react-dates-color-primary-shade-2: #24c6dc !default;

@import '~react-dates/css/variables.scss';
@import '~react-dates/css/styles.scss';
